.App {
  text-align: center;
}

.bg-blue{
  background-color: #664DE5;
}
.text-blue{
  color: #664DE5;
}
body{
  font-family: 'Inter', sans-serif;
}
input:hover{
outline:0.2rem solid #664DE5;
/* &#icons{
  color: #664DE5;
  } */
}

.day{
  width: 50%;
  margin: auto;
}



