.App {
  text-align: center;
}

.bg-blue{
  background-color: #664DE5;
}
.text-blue{
  color: #664DE5;
}
body{
  font-family: 'Inter', sans-serif;
}
input:hover{
outline:0.1rem solid #664DE5;
}

.checkbox:hover{
  outline:0.1rem solid #664DE5;
}

.checkbox:hover > .material-symbols-rounded{
  color: #664DE5;
}

.day{
  width: 50%;
  margin: auto;
}



